<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script id="Drinkin-template" type="text/x-handlebars-template">
        <div class="drinkin">
            <h2>{{name}}</h2>
            <p>{{description}}</p>
            <p>{{price}}</p>
        </div>
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
    <script src="/js/drinkin.js"></script>
    <title>Document</title>
</head>
<body>
    <h1>This is working</h1>
    {{{body}}}
</body>
</html>