<div class="Liquor">
  <div class="card-header col-md-10">
    <h2>
      &#127869 Current Menu
    </h2>
  </div>
  {{#each liquors }}
    <div class='liquor-card'>
        <div class='liquor-card-header'>
            {{name}}
        </div>
        <div class='card-body'>
            <div class='liquor-card-text'>
                <p>Price: ${{price}}</p>
                <p>Size: {{volume}}</p>
                {{!-- <p>Quantity: {{liquor.liquor_quantity}}</p> --}}
            </div>
        </div>
    </div>
    {{/each}}
      <ol>
        <li>
          Vodka
        </li>
        <li>
          Rum
        </li>
        <li>
            Gin
        </li>
        <li>
            Whiskey
        </li>
        <li>
            Tequila
        </li>
        <li>
            Brandy
        </li>
        <li>
          Wine
        </li>
      </ol>
    </div>
  </div>
</div>