<div class="Liquor">
  <div class="card-header col-md-10">
    <h2>
      &#127869 Current Menu
    </h2>
  </div>
  {{#each liquors }}
    <div class='liquor-card'>
        <div class='liquor-card-header'>
            {{name}}
        </div>
        <div class='card-body'>
            <div class='liquor-card-text'>
                <p>Price: ${{price}}</p>
                <p>Size: {{volume}}</p>
                {{!-- <p>Quantity: {{liquor.liquor_quantity}}</p> --}}
            </div>
        </div>
    </div>
    {{/each}}
     <div class="Alcohol">
      <button class="btn-primary" id="Add-Liquor">Whiskey</button>
      <button class="btn-primary" id="Delete-Liquor">Vodka</button>
      <button class="btn-primary" id="Update-Liquor">Rum</button>
      <button class="btn-primary" id="View-Liquor">Tequila</button>
      <button class="btn-primary" id="View-All-Liquor">Gin</button>
      <button class="btn-primary" id="View-All-Drinks">Brandy</button>
    </div>
  </div>
</div>