<div class="Liquor">
  <div class="card-header col-md-10">
    <h2>
      &#127869 Current Menu
    </h2>
  </div>
    <div>
      <ol>
        <li>
          Vodka
        </li>
        <li>
          Rum
        </li>
        <li>
            Gin
        </li>
        <li>
            Whiskey
        </li>
        <li>
            Tequila
        </li>
        <li>
            Brandy
        </li>
        <li>
          Wine
        </li>
      </ol>
    </div>
  </div>
</div>