<div class="liquor-card">
    <h1>
        Login Page
    </h1>
    <form>
       
        <input type="text">
        <input type="password">
        <button class = "btn-primary" id="Sign-Up">Sign Up</button>

    </form>
    
</div>



